name: publish
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
jobs:
  call-reusable-build:
    uses: ./.github/workflows/reusable-build.yml

  goreleaser:
    runs-on: ubuntu-latest
    needs: call-reusable-build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.18
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  update-homebrew-tap:
    runs-on: ubuntu-latest
    needs: goreleaser
    steps:
      - name: Update Homebrew tap
        uses: dawidd6/action-homebrew-bump-formula@v3
        with:
          token: ${{ secrets.COMMITTER_TOKEN }}
          tap: "workshed-community/homebrew-tap"
          formula: "workshed"
